<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>About Me</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body style="background-color: #212227;">

        <img src="/tribal_round.png" class=" position-absolute top-0 start-50 translate-middle " style="width: 240px; height: 450px; " alt="marco">
        <img src="/happy_face.png" class=" position-absolute top-0 start-50 translate-middle-x rounded-circle" style="width: 200px; height: 200px; border-radius: 50%;" alt="happy_face">
        <img src="/drake.png" class="position-absolute top-0 start-0" style="width: 300px; height: 700px" alt="un_dragon_entero_pulento">  
        <img src="/drake_2.png" class="position-absolute top-0 end-0" style="width: 380px; height: 270px" alt="un_dragon_entero_pulento2">  
        <img src="/ygdrasill.png" class="position-absolute top-100 end-0" alt="un arbol_entero_pulento">          
        <img src="/tribal.png" class="position-absolute top-100 start-0" style="width: 350px" alt="un_arbol_entero_pulento2">     
            
        <div class="container position-absolute top-50 start-50 translate-middle" style="  color:#00A9A5 ; width: 900px; height: 200px" >
           
            <h1 class="text-center" style="background-color: #2C3E50;">I am Sebastián Ignacio Letelier Castro</h1>
            <div class="container  ">
                <h2 class="text" style=" width: 460px; border-width: 2px;">- I started university in 2023</h2>
                <h2 class="text">- I am in my third year, specializing in ICC</h2>
                <h2 class="text">- My GitHub link is as <a href="https://github.com/S-Letelier" style="color: #A30000;"> follows </a></h2>
                <h2 class="text">- I enjoy everything related to programming, playing the guitar, and video games 
                <p class="fs-6" style="color: #A30000;" >(Do not install League of Legends, it’s more harmful than drugs. And please, don’t use drugs)</p></h2>
                <h2 class="text">- My skills in programming and languages are as follows:
                <p> </p>

                <table class="table border">
                    <thead >
                        <tr class="border border-4 border-dark" >
                            <th scope="col" style="background-color: #2C3E50"> <img src="/wh.png" alt="Símbolo de la Inquisición" style="width: 50px;"></th>
                            <th scope="col" style="background-color: #2C3E50; color:#A30000;">Skills</th>
                            <th scope="col" style="background-color: #2C3E50; color:#A30000;">Level</th>

                        </tr>
                    </thead>
                    <tbody >
                        <tr class="border border-4 border-dark">
                        <th scope="row" style="background-color: #2C3E50"   ><img src="/wh_1.png" alt="Símbolo de la Inquisición" style="width: 50px;"></th>
                        <td style="background-color: #2C3E50; color:#00A9A5;">Python</td>
                        <td style="background-color: #2C3E50; color:#00A9A5;">Advanced</td>

                        </tr>
                        <tr class="border border-4 border-dark">
                        <th scope="row" style="background-color: #2C3E50"><img src="/wh_2.png" alt="Símbolo de la Inquisición" style="width: 50px;"></th>
                        <td style="background-color: #2C3E50; color:#00A9A5;">JavaScript</td>
                        <td style="background-color: #2C3E50; color:#00A9A5;">Basic</td>

                        </tr>
                        <tr class="border border-4 border-dark">
                        <th scope="row" style="background-color: #2C3E50"><img src="/wh_3.png" alt="Símbolo de la Inquisición" style="width: 50px;"></th>
                        <td style="background-color: #2C3E50; color:#00A9A5;">HTTML/CSS</td>
                        <td style="background-color: #2C3E50; color:#00A9A5;">Advanced</td>

                        </tr>

                        </tr>
                        <tr class="border border-4 border-dark">
                        <th scope="row" style="background-color: #2C3E50"><img src="/wh_4.png" alt="Símbolo de la Inquisición" style="width: 50px;"></th>
                        <td style="background-color: #2C3E50; color:#00A9A5;">Git</td>
                        <td style="background-color: #2C3E50; color:#00A9A5;">Basic</td>

                        </tr>

                        </tr>
                        <tr class="border border-4 border-dark">
                        <th scope="row" style="background-color: #2C3E50"><img src="/wh_5.png" alt="Símbolo de la Inquisición" style="width: 50px;"></th>
                        <td style="background-color: #2C3E50; color:#00A9A5;">SQL</td>
                        <td style="background-color: #2C3E50; color:#00A9A5;">Advanced</td>

                        </tr>

                        </tr>
                        <tr class="border border-4 border-dark">
                        <th scope="row" style="background-color: #2C3E50"><img src="/wh_6.png" alt="Símbolo de la Inquisición" style="width: 50px;"></th>
                        <td style="background-color: #2C3E50; color:#00A9A5;">Ruby</td>
                        <td style="background-color: #2C3E50; color:#00A9A5;">Basic</td>

                        </tr>

                        </tr>
                        <tr class="border border-4 border-dark">
                        <th scope="row" style="background-color: #2C3E50"><img src="wh_7.png" alt="Símbolo de la Inquisición" style="width: 50px;"></th>
                        <td style="background-color: #2C3E50; color:#00A9A5;">English</td>
                        <td style="background-color: #2C3E50; color:#00A9A5;">Advanced</td>

                        </tr>

                        </tr>
                        <tr class="border border-4 border-dark">
                        <th scope="row" style="background-color: #2C3E50"><img src="/wh_8.png" alt="Símbolo de la Inquisición" style="width: 50px;"></th>
                        <td style="background-color: #2C3E50; color:#00A9A5;">Spanish</td>
                        <td style="background-color: #2C3E50; color:#00A9A5;">Igual me defiendo</td>

                        </tr>
                    </tbody>
                    </table >
                    <h2 class="text">- I also like to add drawings to my projects </h2>
                    <p>I hope you don’t mind — just look at a whole dog being adorable, right?</p>
                    <pre class="text-center" >
        ⢀⣠⣤⣶⣶⣶⣶⣶⣤⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⣠⣴⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣄⡀⠀⠀⠀⠀⠀
⠀⠀⠀⣠⣴⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣮⣵⣄⠀⠀⠀
⠀⠀⢾⣻⣿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣿⣿⡀⠀
⠀⠸⣽⣻⠃⣿⡿⠋⣉⠛⣿⣿⣿⣿⣿⣿⣿⣿⣏⡟⠉⡉⢻⣿⡌⣿⣳⡥⠀
⠀⢜⣳⡟⢸⣿⣷⣄⣠⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣤⣠⣼⣿⣇⢸⢧⢣⠀
⠀⠨⢳⠇⣸⣿⣿⢿⣿⣿⣿⣿⡿⠿⠿⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⠀⡟⢆⠀
⠀⠀⠈⠀⣾⣿⣿⣼⣿⣿⣿⣿⡀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣽⣿⣿⠐⠈⠀⠀
⠀⢀⣀⣼⣷⣭⣛⣯⡝⠿⢿⣛⣋⣤⣤⣀⣉⣛⣻⡿⢟⣵⣟⣯⣶⣿⣄⡀⠀
⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣶⣶⣶⣾⣶⣶⣴⣾⣿⣿⣿⣿⣿⣿⢿⣿⣿⣧
⣿⣿⣿⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠿⣿⡿

           
                    </pre>
            </div>
            
        </div>
        

    <img src="/end-page.png" class="position-absolute top-100 start-0" style="width: 800px; height: 1150px" alt="un arbol entero pulento2">            
    <img src="/end-page.png" class="position-absolute top-100 end-0" style="width: 800px; height: 1150px" alt="un arbol entero pulento2">            
    </body>
</html>